.myFontColor {
  /* color: rgba(9, 17, 86, 1); */
  color: #fff;
  font-size: 18px;
}
body {
  background: #070f1a;
}
.specialColor {
  color: #ffcc19;
}

.myTitle {
  font-size: 3rem;
}
.subTitle {
  font-size: 1.5rem;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
}
.ant-radio-inner {
  color: #ffcc19 !important;
  border: 1px solid #d9d9d9 !important;
}
.ant-radio-inner:after {
  background-color: #ffcc19 !important;
}

.ant-switch-checked {
  background-color: #ffcc19 !important;
}

/* 媒体查询，适配手机端 */
@media only screen and (max-width: 768px) {
  .myTitle {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .myTitle {
    font-size: 2rem;
  }
}
