.myFontColor {
    color: rgba(9, 17, 86, 1);
    font-size: 18px;
}

.specialColor {
    color: #FFCC19;
}

.myTitle {
    font-size: 60px;
}

.container {
    max-width: 1600px;
    margin:0 auto;
    padding:0 50px;
    width: 100%;
}
.ant-radio-inner {
    color: #FFCC19 !important;
    border: 1px solid #D9D9D9 !important;
    
    }
    .ant-radio-inner:after {
    background-color: #FFCC19 !important;
}

.ant-switch-checked {
    background-color: #FFCC19 !important;
}