.ant-tabs-top > .ant-tabs-nav::before{
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 0px solid #f0f0f0;
  content: '';
  }

.ant-tabs-tab-btn {
  color: rgba(196, 196, 196, 1);
  font-size: 20px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgba(9, 17, 86, 1);
  font-size: 20px;
}

.ant-tabs-ink-bar {
  background: rgba(9, 17, 86, 1);
}